html,
body {
  height: 100%;
}

main {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#display {
  display: flex;
  grid-column: 1/-1;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 5.5em;
  background-color: lightgray;
}

#container div {
  border: 1px solid black;
  padding: 0px;
  border-radius: 6px;
}

#container {
  display: grid;
  gap: 1px;
  background-color: black;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(100px, auto) repeat(5, 80px);
  text-align: center;
  padding: 6px;
  border-radius: 6px;
}

#container .clear,
.sign,
.percent,
.operator,
.operand,
.decimal,
.equal {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

#container .operand,
.decimal {
  background-color: #217c7e;
}

#container .operator,
.equal {
  background-color: #ff8f1f;
}

#container .clear,
.sign,
.percent {
  background-color: dodgerblue;
}

#zero {
  grid-row: 6;
  grid-column: 1/3;
}
