html,
body {
  height: 100%;
  font-family: 'Roboto Mono', monospace;
  background-color: darkgray;
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #cbce91ff, #ea738dff);
}

.calculator-grid {
  display: grid;
  gap: 4px;
  background-color: black;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  text-align: center;
  padding: 8px;
  border-radius: 6px;
}

.calculator-grid > button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 6px;
  font-family: 'Roboto Mono', monospace;
}
.calculator-grid > button:hover {
  background-color: #a9a9a9;
}

.display {
  grid-column: 1/-1;
  display: flex;
  background-color: rgba(0, 0, 0, 0.75);
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.display .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 2rem;
}

.display .current-operand {
  color: white;
  font-size: 4rem;
}

.number,
.span-two {
  background-color: #217c7e;
}

.function-button {
  background-color: #ff8f1f;
}

.operator {
  background-color: dodgerblue;
}

.span-two {
  grid-row: 6;
  grid-column: 1/3;
}
